<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{/fragmento :: head}"></head>
<head><title>Favoritos - Buscar filmes</title></head>

<header th:replace="~{/fragmento :: header}"></header>

<body>
	<div id="app" class="div_body">
		<div>
			<h1>{{ site }}</h1>
			<hr>
		</div>
		
		<div id="mostrar_filme"></div>
	</div>
	
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="/js/favoritos.js"></script>
</body>

<footer>
</footer>
</html>