<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="~{head}">
	<meta charset="utf-8" lang="pt-br"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" rel="stylesheet"/>
	<link href="/jquery/jquery-ui.min.css" rel="stylesheet"/>
	<link href="/css/estilo.css" rel="stylesheet"/>
	<link href="/open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
	<script src="/js/jquery-3.4.1.min.js"></script>
</head>


<header th:fragment="~{header}">
	
	<nav aria-label="breadcrumb" class="menu">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/index">INICIO</a></li>
	    <li class="breadcrumb-item"><a href="/favoritos">FAVORITOS</a></li>
	  </ol>
</nav>
</header>
<body>

	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script src="/js/index.js"></script>
</body>

<footer>
</footer>
</html>